In [1]:
from __future__ import division

import securities as st
from portfolio import *

import numpy as np
import pandas as pd

In [2]:
myP = Portfolio('/Users/vincentroy/Documents/tFipi/data/reg.json')

In [3]:
myP.summary

,Asset ID,Purchase date,Purchase price,Volume,Acquisition,Close,Market,Est Profit,% Est Profit,Annual Return
0,MFC,2018-02-23,24.609,700,17226.3,24.4,17080,-146.3,-0.85,0.01
1,HydroOne,2015-11-05,20.5,500,10250,20.5,10250,0,0,0.01
2,Pembina,2018-02-16,41.486,410,17009.3,40.34,16539.4,-469.86,-2.76,-0.05
3,Rogers,2018-02-16,58.663,300,17598.9,60.94,18282,683.1,3.88,0.38
4,BCE,1997-12-12,2.858,179,511.582,53.72,9615.88,9104.3,1779.64,0.13
0,Total,,,,62596,,71767.3,9171.24,,

In [ ]:
myP.assets[1].perfMatrix.columns

In [ ]:
myP.assets[4].perfMatrix

In [ ]:
availPortfolios = [{'label': 'regular', 'value': 'reg.json'},
                    {'label': 'fiducie Amelie', 'value': 'fidAmelie.json'},
                    {'label': 'aa', 'value': 'aa'}]

In [ ]:
availPortfolios[0]['value']

In [8]:
myP.assets[4].getHistoricalPrice('2018-04-24', '2018-04-24')

                 Open       High    Low      Close  Adj Close   Volume
Date
2018-04-24  53.610001  54.064999  53.57  53.720001  53.720001  1197379
2018-04-24  53.610001  54.070000  53.57  53.720001  53.720001  1197400